#center {
  text-align: center;
  padding: 2rem;
}

main {
  padding: 2rem;
}

button {
  font-size: 2rem;
  display: inline-block;
}

canvas {
  background-color: #222;
  width: 100%;
  border: 0.5rem solid #555;
}

select {
  font-size: 1.5rem;
  vertical-align: middle;
  border-radius: 15px;
}

.label {
  display: inline;
  font-size: 1.2rem;
  align-self: center;
  font-weight: bold;
}

.nav {
  color: white;
  background-color: var(--sky-500);
  padding: 1rem;
}

.tools {
  background-color: var(--slate-200);
  padding: 1rem;
}

.logo {
  font-size: 1.8rem;
  margin-right: 2rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65);
  /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20);
  /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221);
  /* this is a light blue */
}
