#center {
  text-align: center;
  padding: 2rem;
}

main {
  padding: 0rem;
  margin: 0rem;
}

button {
  font-size: 2rem;
  display: inline-block;
}

canvas {
  background-color: #222;
  width: 100%;
  border: 0.5rem solid #555;
}

select {
  font-size: 1.5rem;
  vertical-align: middle;
  border-radius: 15px;
  margin: 0.6rem;
}

.label {
  display: inline;
  font-size: 1.2rem;
  align-self: center;
  font-weight: bold;
}

.nav1 {
  color: white;
  background-color: var(--sky-600);
  padding: 1rem 1rem 0rem 1rem;
}
.nav1 .pure-button {
  height: 2.5rem;
}

.nav2 {
  color: white;
  background-color: var(--sky-500);
  padding: 1rem;
}

.tools {
  background-color: var(--slate-200);
  padding: 1rem;
}

.logo {
  font-size: 1.8rem;
  margin-right: 2rem;
}

.push {
  margin-left: auto;
  text-align: right;
}

.flex {
  display: flex;
}
.gap {
  gap: 1rem;
}

.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65);
  /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20);
  /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221);
  /* this is a light blue */
}

.tab {
  background-color: var(--sky-500);
  font-size: 1.8rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top: var(--sky-700) solid 2px;
  border-left: var(--sky-700) solid 2px;
  border-right: var(--sky-700) solid 2px;
  border-bottom: none;
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 0.3rem;
}

.tab-nosel {
  background-color: var(--sky-600);
  color: #aaa;
  box-shadow: inset 0px -11px 18px -10px var(--sky-700);
}

.icon {
  width: 25px;
  vertical-align: middle;
}

label {
  margin-top: 0.5rem;
}

.divider {
  width: 3px;
  background: rgba(0, 0, 0, 0.2);
}

.w7 {
  width: 7rem;
}
